# Python Virtual Environments & Cache
venv/
__pycache__/
*.pyc

# Node.js modules
node_modules/

# Build & Temp Files
build/
dist/
*.log

# Database & Large Data Files
*.csv
*.xlsx
*.db
uploads/
converted_images/

# Ignore environment variables
.env
.env.local
.env.development.local
